services:
  postgres:
    image: postgres:latest
    container_name: postgres
    restart: always
    ports:
      - "55432:5432"
    environment:
      - POSTGRES_DB=${DATABASE_NAME:-meeting_db}
      - POSTGRES_USER=${DATABASE_USER:-meeting_user}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD:-P@ssw0rd}
      - TZ=Asia/Seoul
    volumes:
      - ./docker/postgres/prod/data:/var/lib/postgresql/18/docker

  django:
    build: .
    image: django-meeting-app:0.9.0
    container_name: django-meeting-app
    restart: always
    entrypoint: ["/bin/sh", "/app/docker/entrypoint.sh"]
    command: >
      sh -c "python manage.py collectstatic --noinput &&
             python manage.py migrate --noinput &&
             gunicorn --bind 0.0.0.0:8000 config.wsgi:application"
    ports:
      - "58000:8000"
    env_file:
      - .env_prod
    environment:
      - APP_NAME=app
    depends_on:
      - postgres
    volumes:
      - .:/app
      - ./static:/app/static
      - ./media:/app/media
      - ~/.cache/huggingface:/root/.cache/huggingface

  qcluster:
    build: .
    image: django-meeting-qcluster:0.9.0
    container_name: django-meeting-qcluster
    restart: always
    command: python manage.py qcluster
    env_file:
      - .env_prod
    environment:
      - APP_NAME=qcluster
    depends_on:
      - postgres
      - django
    volumes:
      - .:/app
      - ./media:/app/media
      - ~/.cache/huggingface:/root/.cache/huggingface

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./static:/app/static
      - ./media:/app/media
    depends_on:
      - django