{% extends "layout/base.html" %}
{% load static %}
{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/rooms.css' %}">
{% endblock %}
{% load humanize %}
{% block content %}
    <h1>회의실</h1>
    <hr class="my-4">
    <div class="d-flex gap-2 justify-content-end mb-3">
        <a class="btn btn-primary rounded-pill px-3" href="{% url 'room' 0 %}">추가</a>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for room in rooms %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">{{ room.name }}{% if room.has_monitor %}&nbsp;🖥{% endif %}{% if room.has_microphone %}&nbsp;🎤{% endif %}</h5>
                        <div data-bs-spy="scroll" data-bs-offset="0" class="card-text position-relative overflow-auto scrollspy-room" tabindex="0">
                            {% if room.is_active == True %}
                            <p class="room-content mb-0 text-primary">사용</p>
                            {% else %}
                            <p class="room-content mb-0 text-secondary">미사용</p>
                            {% endif %}
                            <p class="room-content mb-0">좌석:&nbsp;{{ room.seat_count|intcomma }}</p>
                            <p class="room-content mb-1">수용:&nbsp;{{ room.capacity_count|intcomma }}</p>
                            {% if room.description %}<pre>{{ room.description }}</pre>{% endif %}
                        </div>
                        <div class="d-flex justify-content-between align-items-center mt-2">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" href="{% url 'room' pk=room.pk %}">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}