html,
body {
  height: 100%;
}

.form-signin {
  max-width: 480px;
  padding: 1rem;
}

.form-signin .h3 svg {
  width: 1em;
  height: 1em;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin-footer {
  /*font-size: 12px;*/
}