{% extends "layout/base.html" %}
{% load static %}
{% block content %}
    <div class="alert alert-warning" role="alert">
        <p>서버 스펙이 많이 안좋아요. (Synology - No NVIDIA GPU, Quad-core Intel Celeron J4125 processor)</p>
        <p class="m-0">음성을 녹음하거나, 파일을 업로드할 때 가급적 10분 내외의 짧은 작업만 요청해주세요. 🙏</p>
    </div>
    <div class="mt-4 mb-4">
        <h2>Project README</h2>
        <hr>
        <div id="readme" class="markdown-body">
            Loading...
        </div>
    </div>
    {{ readme|json_script:"readme-data" }}
{% endblock %}
{% block extra_scripts %}
    <script type="text/javascript" src="{% static "js/marked/marked.min.js" %}"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            marked.use({
                gfm: true,
            });

            const rawMarkdown = JSON.parse(document.getElementById('readme-data').textContent);

            const htmlContent = marked.parse(rawMarkdown);

            document.getElementById('readme').innerHTML = htmlContent;
        });
    </script>
    <link rel="stylesheet" href="{% static "css/markdown/github-markdown.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/markdown/markdown.css" %}" />
{% endblock %}