<div class="modal fade" id="modalContainer" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">확인</h5>
            </div>
            <div class="modal-body">정말 실행하시겠습니까?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-cancel" data-bs-dismiss="modal">취소</button>
                <button type="button" class="btn btn-ok">확인</button>
            </div>
        </div>
    </div>
</div>
{% load static %}
<script type="text/javascript" src="{% static "js/confirm.js" %}"></script>