{% load mptt_tags %}
{% load static %}
<div id="hierarchical-departments">
    <div>
        <a id="tree-expand-button" class="btn btn-secondary" href="#" role="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-expand" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8M7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708zM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10"></path>
            </svg>
        </a>
        <a id="tree-collapse-button" class="btn btn-secondary" href="#" role="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-collapse" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8m7-8a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 4.293V.5A.5.5 0 0 1 8 0m-.5 11.707-1.146 1.147a.5.5 0 0 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 11.707V15.5a.5.5 0 0 1-1 0z"></path>
            </svg>
        </a>
    </div>
    <hr class="my-4"/>
{% for node, structure in hierarchical_departments|tree_info %}
    {% if structure.new_level %}
<ul class="{% if node.parent_id is None %}m-1 {% else %}ms-4 {% endif %}p-0">
<li class="list-group-item">
    {% else %}
</li>
<li class="list-group-item">
    {% endif %}
<a class="link-underline-opacity-0 link-warning tree-toggle-button" href="#" role="button">
    {% if node.is_leaf_node %}+{% else %}-{% endif %}
</a>
<input type="checkbox" class="form-check-input department{% if visible_checkboxes != True %} d-none{% endif %}" data-group-id="{{ node.parent_id }}" id="department-{{ node.group_id }}" value="{{ node.group_id }}"/>
<label class="form-check-label" for="department-{{ node.group_id }}">{{ node.group.name }}</label>
    ({% if visible_checkboxes == True %}<span class="checked_count">0</span>/{% endif %}<span class="count">0</span>)
    {% if node.group.user_set.count > 0 %}
<ul class="ms-4 p-0{% if node.is_leaf_node %} d-none{% endif %}">
            {% for user in node.group.user_set.all %}
    <li class="list-group-item">
        <span class="tree-toggle-button"></span>
        <input type="checkbox" class="form-check-input user{% if visible_checkboxes != True %} d-none{% endif %}" data-group-id="{{ node.group_id }}" id="user-{{ user.id }}" name="{{ user_input_name }}" value="{{ user.id }}"{% if user.id in checked_users %} checked="checked"{% endif %}/>
        <label class="form-check-label" for="user-{{ user.id }}">{{ user }}</label>
    </li>
            {% endfor %}
</ul>
    {% endif %}
    {% for level in structure.closed_levels %}</li></ul>{% endfor %}
{% endfor %}
</div>
{% block extra_scripts %}
<script type="text/javascript" src="{% static "js/tree.js" %}"></script>
{% if auto_initialize != False %}
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", ()=> {
        new tree({
            readonly: {% if readonly %}true{% else %}false{% endif %},
            wrapperElement: document.querySelector('#hierarchical-departments'),
            toggleButtonSelector: 'a.tree-toggle-button',
            expandButtonSelector: 'a#tree-expand-button',
            collapseButtonSelector: 'a#tree-collapse-button',
            internalCheckboxSelector: 'input.department[type="checkbox"]',
            leafCheckboxSelector: 'input.user[type="checkbox"]',
            parentAttribute: 'data-group-id'
        });
    });
</script>
{% endif %}
{% endblock %}